<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>平台登录页</title>
<link href="./css/normalize.css" th:href="@{/css/normalize.css}" rel="stylesheet">
<link href="./css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
<link href="./css/jquery/jquery-ui.css" th:href="@{/css/jquery/jquery-ui.css}" rel="stylesheet">
<link href="./css/template/main.css" th:href="@{/css/template/main.css}" rel="stylesheet">
<link href="./css/template/alertify.core.css" th:href="@{/css/template/alertify.core.css}" rel="stylesheet" id="toggleCSS">

<script type="text/javascript" src="./js/jquery/jquery.min.js" th:src="@{/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="./js/bootstrap/bootstrap.min.js" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" src="./js/vue/vue.min.js" th:src="@{/js/vue/vue.min.js}"></script>
<script type="text/javascript" src="./js/template/js/alertify.min.js" th:src="@{/js/template/js/alertify.min.js}"></script>
<script type="text/javascript" src="./js/login/login.js" th:src="@{/js/login/login.js}"></script>

</head>
<body>
	<!-- 登录页容器 -->
	<div class="container-fluid" align="center">
		<div style="width:620px;height:320px;">
			<div align="center" style="width:600px;height:250px;"></div>
			<div style="padding:10px 10px 10px 10px" align="center" class="sign-in-container"> 
				<form id="loginForm" th:attr="action=@{/login}" action="./login" method="post" class="form-horizontal login-wrapper">
					<div class="header">
                      <div class="row-fluid">
                        <div class="span12">
                         	<div align="center" ><img style="width:600px;height:80px;" th:attr="src=@{/images/img/logo/logo.png}" src="./images/img/logo/logo.png" /></div>
                        </div>
                      </div>
					</div>
					
					<div class="content">
						<div class="row-fluid">
						    <div class="span12">
						      <input type="text" class="input span12 text" id="userCode" name="userCode" placeholder="User ID">
						    </div>
						</div>
						<div style="padding:10px 10px 10px 10px" align="center"></div>
						<div class="row-fluid">
						    <div class="span12">
						      <input type="password" class="input span12 password" id="password" name="password" placeholder="Password">
						    </div>
						</div>
					</div>
					
					<div class="actions">
						<input type="submit" class="btn btn-warning2" value="Sign in">
				      	<a class="link" href="#">Forgot Password?</a>
				      	<div class="clearfix"></div>
	  				</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>